svg {
  border: 1px solid grey;
}

.axis-label {
  font-size: 20px;
  text-anchor: middle;
}

.x.axis text {
  text-anchor: end;
  font-weight: bold;
  transform: rotate(-40deg);
}

.close {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.sma {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.input-items-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#chart-area {
  margin-top: 10px;
}

#slider-container {
  position: relative;
  height: 30px;
  background-color: #eeeef5;
  margin: 20px 0;
  width: 800px;
}

.input-item {
  display: flex;
  height: 30px;
  width: 150px;
}

h3 {
  margin-top: 50px;
  text-align: center;
}

th,
td {
  text-align: center;
}

.objecttable {
  width: 60%;
}

.summary-table {
  width: 35%;
}

.table-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
